/* Estilos del contenedor header */
.header {
  position: relative; 
}

/* Estilos del nav */
.nav {
  position: absolute; 
  top: 0;
  left: 0;
  width: 100%;
  background-color: transparent;
  color: white;
  z-index: 100; 
  padding: 10px 0;
}

/* Estilos para la lista de navegación */
.navList {
  display: flex;
  justify-content: center;
  gap: 20px;
  list-style: none;
  margin: 0;
  padding: 0;
}

.navList li a {
  color: white;
  text-decoration: none;
  font-weight: bold;
  padding: 10px 20px;
}

.navList li a:hover {
  color: #ff69b4; 
}

/* Estilos del contenedor hero */
.hero {
  background-size: cover;
  background-position: center;
  height: 100vh; 
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  text-align: center;
  z-index: 1; 
  position: relative;
}

/* Texto del héroe */
.heroText {
  font-size: 48px;
  font-weight: bold;
  margin: 0;
}

/* Subtexto del héroe */
.heroSubtext {
  font-size: 24px;
  margin-top: 10px;
}

/* Botón de llamada a la acción */
.ctaButton {
  margin-top: 20px;
  padding: 10px 30px;
  font-size: 18px;
  background-color: #ff69b4;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

.ctaButton:hover {
  background-color: #e65a9e;
}