.footer {
  background-color: #f9f9f9;
  padding: 40px;
  text-align: center;
}

.discountContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.discountImage {
  flex: 1;
  max-width: 300px;
  border-radius: 10px;
}

.discountTextContainer {
  flex: 2;
  margin-left: 20px;
}

.discountText {
  font-size: 24px;
  font-weight: bold;
}

.ctaButton {
  margin-top: 20px;
  padding: 10px 30px;
  font-size: 18px;
  background-color: #ff69b4;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

.ctaButton:hover {
  background-color: #e65a9e;
}